@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    background-image: url("../images/roman-kraft-156096-unsplash-opaque.jpg");
    background-repeat: no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
}

html {
    min-height: 100%;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 72px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;

}

.container {
    background: rgba(148, 149, 150, 0.685);
    border-radius: 5px;
    padding: 15px;
}

.favoritesDiv {
    margin-bottom: 15px;
}

#filter-favorites {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 35px;
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
}