body {
    background-image: url("../images/heather-schwartz-798959-unsplash-landscape.jpg");
    background-repeat: no-repeat center bottom;
    background-size: cover;
}

html {
    min-height: 100%;
}

/* .hero-container {
    margin-top: 200px;
} */

.title {
    font-size: 200px;
    color: #343a40;
}

.dine-logo {
    font-size: 50px;
    color: #343a40;
    padding-bottom: 25px;
}

.form-signin,
.form-signup {
    /* padding: 200px; */
    color: #343a40;
}

.form-title {
    text-align: left;
}

.dineLogo {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img-responsive {
    width: 100%;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("../images/heather-schwartz-798959-unsplash-portrait.jpg");
        background-repeat: no-repeat center bottom;
        background-size: cover;
    }

    .dineLogo {
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .form-signin,
    .form-signup {
        padding: 50px;
        /* padding-top: 100px; */
    }

    .title {
        font-size: 100px;
    }
}