.list-group-item {
  line-height: 2.5;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;
  margin: 0px auto;
}

h1 {
  text-align: center;
  color: black;
}

.swipe-img {
  width: 100%;
  height: auto;
}


p {
  text-align: center;
}

/* .col-md-3 {
  margin: 0px;
  padding: 0px;
}

.col-md-9 {
  margin: 0px;
  padding: 0px;
} */